h1 Hello, #{user.name}!
p You are watching the game #{game.scenario.title}. A new log file was just uploaded into this game.
p 
  | You can download the new log file on 
  a(href=server+"/game/"+game._id) the game's overview page
  | . There, you can also stop watching the game if you no longer wish to be 
  | notified about new log files.
p Roll low and COWTRA!