extends layout

mixin incoming(challengers)
  each challenger in challengers
    .panel.panel-default
      .panel-heading
        h3.panel-title
          Against
          = challenger.from
      .panel-body
        ul
          li 
            b Scenario:  
            = challenger.scenarioId || "DYO"
          li
            b Time Control: 
            = challenger.timeControl
          li
            b Sent: 
            = challenger.sent
          li
            a(href="/challenges/"+challenger.id+"/accept") Accept 
            | or 
            a(href="/challenges/"+challenger.id+"/decline") Decline
            | ?
        if challenger.message
          p The challenger sent you a message:
          p= challenger.message

mixin outgoing(challenges)
  each challenge in challenges
    .panel.panel-default
      .panel-heading
        h3.panel-title
          Against
          = challenge.to
      .panel-body
        ul
          li 
            b Scenario:  
            = challenge.scenarioId || "DYO"
          li
            b Time Control: 
            = challenge.timeControl
          li
            b Sent: 
            = challenge.sent
          li
            a(href="/challenges/"+challenge.id+"/takeback") Take back 
        if challenge.message
          p The challenger sent you a message:
          p= challenge.message
        
block secondary-nav
  include secondary-nav-games
  
block content
  h1 Challenges
    h2 People challenging you
    if (challengers && challengers.length > 0)
        +incoming(challengers)
    else
        p 
          | You do not have any open challenges! Maybe you would like to 
          a(href="/games/challenge") challenge someone yourself 
          | instead?
          
    if (challenges && challenges.length > 0)
      h2 Your challenges
      +outgoing(challenges)