extend layout

mixin logs(game)
  p: a(href="/logfiles/"+game._id+"/"+game.logs[game.logs.length -1]._id) Download latest log file
  p: a(href="/game/"+game._id+"/upload") Upload a new log file
  table.table
    - var i = 1
    each log in game.logs
      tr
        td= i
        - i++
        td: a(href="/logfiles/"+game._id+"/"+log.id) Download


block secondary-nav
  include secondary-nav-games
  
block content
  h1
    = game.scenarioId 
    small 
      = " "+game.playerA  
      | &nbsp;against 
      = game.playerB
      
  if game.logs.length == 0
    p 
      | This game has no logs so far. 
      a(href="/game/"+game._id+"/upload") Upload a log to start the game!
  else
    +logs(game)
    