extends layout

mixin incoming(challengers)
  each challenger in challengers
    h3 
      Against
      = challenger.username

mixin outgoing(challenges)

block secondary-nav
  include secondary-nav-games
  
block content
  h1 Challenges
    h2 People challenging you
      if (res && res.challengers && res.challengers.length > 0)
        +incoming(res.challengers)
      else
        p 
          You do not have any open challenges! Maybe you would like to 
          a(href="/games/challenge") challenge someone yourself
          instead?