extends layout.jade

mixin list(games)
  table.table
    each game in games
      tr
        td= game.playerA
        td= game.playerB
        if game.scenario && game.scenario.number
          td
            strong= game.scenario.number
            = " - "+(game.scenario.title || "Unknown Scenario")
        else
          td Custom Scenario
        td: a(href="/game/"+game.id) Show Details

block secondary-nav
  include secondary-nav-games
  
block content
  h1 Your games
  if games && games.length > 0
    +list(games)