mixin notifications(notifications)
  ul.dropdown-menu
    - each notification in notifications
      li: a(href="/notifications/" + notification._id)= notification.text

if(req.notifications && req.notifications.length)
  li
    a.dropdown-toggle(href="#", data-toggle="dropdown")
      | Notifications 
      span.badge
        = req.notifications.length
      +notifications(req.notifications)
  
else
  li
    a.dropdown-toggle(href="#", data-toggle="dropdown") Notifications
    ul.dropdown-menu
      li.dropdown-header No new notifications!