ul.nav.nav-pills.nav-stacked
  li: a(href="/games/my/active") My matches
  li: a(href="/games/my/archive") My history
  li: a(href="/games/my/challenges") Challenges
  li: a(href="/games/world/active/1") Kibitz
  li: a(href="/games/world/archive") Archive
  li: a(href="/games/challenge") Challenge somebody
  li: a(href="/games/find") Find opponent