mixin item(name, url, bullet)
  if req.url.indexOf(url) >= 0
    li.active
      a(href=url)
        = name
        span.badge.pull-right= bullet
  else
    li
      a(href=url)= name 
        span.badge.pull-right= bullet

ul.nav.nav-pills.nav-stacked
  +item("My Games", "/games/my/active", req.bullets.games)
  +item("My Archive", "/games/my/archive", "")
  +item("My Challenges", "/games/my/challenges", req.bullets.challenges)
  +item("Ongoing Games","/games/world/active", "")
  +item("Archived Games", "/games/world/archive", "")
  +item("Send Challenge", "/games/challenge", "")
  +item("Find Opponents", "/games/find", "")
