extend ../layout

mixin ratingLine(user, i)
  tr
    td= i
    td(width="32px"): img(src="/user/#{user.name}/avatar/32")
    td: a(href="/user/"+user.name)= user.name
    td
      if user.rating.games < 10
        | (
        span(class="provisional-rating")= user.rating.points
        | )
      else
        = user.rating.points

block secondary-nav
  include secondary-nav-users
  
block content
  h1 Best players
  h2 Highest ratings
  if bestRatings && bestRatings.length
  table.table
    tr
      th #
      th(colspan=2) Player
      th Rating
    - var i = 1
    each user in bestRatings
      +ratingLine(user, i)
      - i++