extends ../layout

block secondary-nav
  include secondary-nav-users
   
block content
  h1= msg.subject
  p: em
    | From 
    = msg.from
    | &nbsp;to 
    = msg.to
    | , 
    = fancyDate || msg.sent
  p: a(href="/user/message/"+msg.id+"/delete") Delete
    
  p= msg.message
  