include ../mixins/menu_entry

ul.nav.nav-pills.nav-stacked
  +menuEntry("My Account", "/user/me", "/user/me")
  +menuEntry("Messenger", "/users/messenger", "/users/messenger")
  +menuEntry("User Directory", "/users/find", "/users/find*")
  +menuEntry("Best players", "/users/best", "/users/best")
