include ../mixins/menu_entry

ul.nav.nav-pills.nav-stacked
  +menuEntryWithBullet("My Games", "/games/me/active", "/games/me/active", req.bullets.games)
  +menuEntry("My Archive", "/games/me/archive", "/games/me/archive", "")
  +menuEntryWithBullet("My Challenges", "/challenges/list", "/challenges/list", req.bullets.challenges)
  +menuEntry("Ongoing Games","/games/all/active","/games/all/active", "")
  +menuEntry("Archived Games", "/games/all/archive", "/games/all/archive", "")
  +menuEntry("Send Challenge", "/challenges/send","/challenges/send", "")
  //- +item("Find Opponents", "/lfg", "") dummied out
