table#login {
  border-spacing: 5px;
  padding: 5px;
}

table.game-header th, table.game-header td {
  text-align: center;
  background: #F5F5DC; /* beige */
}

td.active-player {
  color: red;
}

#logs-table td {
  padding: 2px;
  text-align: center;
}

#logs-table td#message {
  text-align: left;
}

table.challenges td, table.challenges th {
  text-align: center;
}

#logs-table, table.messages, table.challenges {
  width: 100%
}

#logs-table tr#bottom td {
  border-bottom: 2px dotted silver;
}

li img {
  margin-right: 20px;
  vertical-align: middle;
}

table.stats td, table.stats th {
  padding: 5px;
}

table.own-profile td, table.own-profile th {
  padding: 5px;
}